.successful-register {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;  /* Center vertically */
  justify-content: center;  /* Center horizontally */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.overlap {
  background-color: #d7d1d1;
  border-radius: 40px;
  padding: 40px;  /* Add some padding to space content nicely */
  display: flex;
  flex-direction: column;
  align-items: center;  /* Center the h1 and button horizontally */
  justify-content: center;  /* Center the h1 and button vertically */
}

.ok-text-wrapper {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 60px;  /* Space between the text and button */
}

.overlap-group23 {
  background-color: #e80029;
  border-radius: 35px;
  height: 71px;
  width: 168px;
  display: flex;
  align-items: center;  /* Center text vertically */
  justify-content: center;  /* Center text horizontally */
  cursor: pointer;
  border: none;
}

.ok-div {
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
